@use '../variables'

h4
    font-size: 14px
    color: variables.$text-color
    margin-bottom: 10px

.sidebar-content
    background: variables.$secundario-bg
    display: flex
    padding: 20px 10px 0 10px
    height: 100vh

.dashborad-content
    display: flex
    height: 7rem
    flex-direction: column 
    padding-left: 5px
    padding-right: 5px 
    border-bottom: 1px solid #b0a0d63a
