$font-stack: "Helvetica"
$roxo: #770493
$text-color: #fff
$text-lilas: #74319b
$background-lilas: #7f4f9b
$azul: #3074f3
$background: #232d46
$secundario-bg: #3a5077
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, #ff3877 0%, #b3093f 100%)